.team-container {
    /* padding: 0 0.25em; */
    /* max-width: 100%; */
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3em;
}

.team-container {
    border: red 2px solid;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 0.6em;
    row-gap: 0.3em;
}


/* teamCard information */
.teamCard {
    border: green 2px solid;
}

.teamImg {
    width: 100%;
    height: 100%;
}

.teamName {
    font-family: 'JetBrains Mono';
    color: rgb(188, 152, 255);
    line-height: 1.5em;
    text-transform: uppercase;
}

.teamDesc {
    margin: 1em 0;
    text-wrap: wrap;
    line-height: 1.5em;
    font-size: 14px;
}

.teamLink {
    background-color: white;
}




