.calendar-container {
    width: 100%;
    /* border: blue 2px solid; */
}

.calendar {
    display: flex;
    
    border: red 2px solid;
    flex-wrap: wrap;
    justify-content: center;
}





/* eventCard information */
.eventCard {
    border: green 2px solid;
    width: 20em;
    height: 80vh;
    margin: 0 0.25em;
}

.eventImg {
    width: 100%; 
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 25px;
}

.eventDate {
    font-family: sans-serif;
    font-size: 24px;
    margin-bottom: 0.5em;
}

.eventName {
    font-family: 'JetBrains Mono';
    color: rgb(188, 152, 255);
    line-height: 1.5em;
    text-transform: uppercase;
}

.eventSpecial {
    font-family: 'JetBrains Mono';
    color: rgb(255, 197, 134);
}

.eventDesc {
    margin: 1em 0;
}

.eventDesc, .classTime, .sessionTime, .location, .price {
    font-size: 14px;
    line-height: 1.5em;
}

.location {
    text-wrap: wrap;
}




