#Calendar {
    width: 100%;
    /* align-items: center; */
    margin: 0 auto;
    margin-bottom: 3em;
}

.calendar-container {
    border: red 2px solid;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 2fr);
    column-gap: 0.6em;
    row-gap: 0.3em;
}



/* eventCard information */
.eventCard {
    border: green 2px solid;
    
}

.eventImg {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.eventDate {
    font-family: sans-serif;
    font-size: 24px;
    margin-bottom: 0.5em;
}

.eventName {
    font-family: 'JetBrains Mono';
    color: rgb(188, 152, 255);
    line-height: 1.5em;
    text-transform: uppercase;
}

.eventSpecial {
    font-family: 'JetBrains Mono';
    color: rgb(255, 197, 134);
}

.eventDesc {
    margin: 1em 0;
}

.eventDesc, .classTime, .sessionTime, .location, .price {
    font-size: 14px;
    line-height: 1.5em;
}

.location {
    text-wrap: wrap;
}




