.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(229,255,0);
    color: black;
    padding: 1em 2em;
    justify-content: space-around;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

.socials-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialLinks a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.socialLinks a:hover{
    text-decoration: underline;
}

.copyright-and-stuff {
    margin-top: 5em;
    display: flex;
    align-items: center;
    font-size: 12px;
}





























































/* Responsive Styles */
@media only screen and (max-width: 759px) {
    .ft-mk {
        justify-content: flex-end;
    }

    .ft-mk .b2,
    .ft-mk .c1 {
        flex-basis: 100% !important;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-column {
        margin: 2.5px 0;
    }

    .hide-on-mobile {
        display: none;
    }
}

@media only screen and (min-width: 760px) {
    .hide-on-desktop {
        display: none;
    }
}

.container-cc-footer {
    width: 75%;
    max-width: 60em;
    margin: 0 auto;
}

.footer-background {
    background-color: #000000;
}