body {
  /* width: 100%; */
  /* border: 1px solid red; */
  /* margin: 0 auto; */
  font-family: "Open Sans", sans-serif;
  
  /* background-color: black; */
  background-color: #1A0049;
  /* overflow: hidden; */
}

.App {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}

.pageTitle {
  color: white;
  text-transform: uppercase;
  padding: 0 0.25em;
  font-size: 4em;
  margin: 0;
  font-weight: 400;
}

* p {
  line-height: 1.5em;
}

* span {
  line-height: 1.5em;
}

* a {
  text-decoration: none;
}

.events-moreInfo {
  margin-left: 1em;
  margin-bottom: 7em;
  line-height: 1.5em;
  font-size: 20px;
  width: 30%;
}

.events-moreInfo a {
  text-decoration: underline;
  color: white;
  margin: 0 5px;
}









h3,
h4 {
  line-height: 1.5em;
}


.container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  max-width: 80em;
}

/* .sub-container {} */
/* for mobile maybe change the width on all elements to 90% */

.btn {
  color: white;
  border: 2px solid black;
  border-radius: 6px;
  font-weight: 700;
}

.btn-shadow {
  box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -6px 6px 0px 0px rgba(0, 0, 0, 1);
  position: relative;
}

.btn-shadow:hover {
  box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
    -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
    -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  top: 3px;
  left: -3px;
}



.max-width-90 {
  max-width: 90%;

}

.margin-right-10 {
  margin-right: 10em;
}


.purchase-box-button-white {
  color: white;
  text-decoration: none;
}

/* button styles for monthly cohort page */





/*!MOBILE STYLES */

/* @media only screen and (max-width: 768px) {

  .GreenArticle-paragraphs p {
    max-width: 100%;
  }
} */